<!DOCTYPE html>

html

  head
    title Books
    link(href='/static/stylesheets/style.css' rel='stylesheet')

  h4 An original idea. That can’t be too hard. The library must be full of them. –Stephen Fry 
    
  block content
