body {
  background-image: url("/static/images/books.jpg");
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
  border-radius: 18px;
}

label {
  font-weight: bold;
  min-width: 70px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

/* Davey CSS */

.search {
  margin: 20px;
}

.error {
  color: rgb(236, 15, 15);
}

button {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

button.search {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

a.navigation {
  margin-left: 0px;
  margin-right: 7px;
}

h4 {
  background: #E7E7E7;
  padding: 5px;
  margin-right: 636px;
  border-radius: 18px;
}

h1 {
  background: #E7E7E7;
  padding: 5px;
  margin-right: 636px;
  border-radius: 18px;
}

h2.detail {
  background: #E7E7E7;
  padding: 5px;
  margin-right: 636px;
  border-radius: 18px;
}

label {
  background: #E7E7E7;
  padding: 5px;
  margin-right: 10px;
  border-radius: 18px;
}

input {
  border-radius: 18px;
}

.joking {
  color: #E7E7E7;
  background: #019875;;
  padding: 5px;
  margin-right: 10px;
  border-radius: 18px;
}

p.detail {
  background: #E7E7E7;
  padding: 5px;
  margin-right: 636px;
  border-radius: 18px;
}